@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
  --primary: #3b82f6; 
  --secondary: #a855f7;
}

body {
  color: var(--foreground);
  background: var(--background);
}
